@mixin border {
	border-top-color: $border-top;
	border-left-color: $border-left;
	border-bottom-color: $border-bottom;
	border-right-color: $border-right;
	border-style: solid;
} 

@mixin bigBox {
	border-width: 5px;
	padding: 0px 10px 10px 10px;
}

@mixin smallBox {
	border-width: 2px;
	outline: none;	
}

@mixin txtShadow {
	color: rgba(251, 250, 244, 1);
	text-shadow: 2px 2px 1px #1b2532;
}
