@import "src/assets/scss/colors.scss";
@import "src/assets/scss/mixins.scss";
.clip {
	@include border;
	background-color: $background-light;
	margin-top: 10px;
}

.row {
	display: grid;
	grid-template-columns: 125px 125px 125px;
	width: 100%;
	object-fit: cover;
	grid-gap: 10px;
}

.col {
	background-color: none;
	width: 100%;
	padding: 0px;
}

.button {
	background-color: $background-dark;
	@include border;
	@include txtShadow;
	cursor: pointer;
	font-weight: 500;
	font-size: 10pt;
	height: 35px;
	border-width: 2px;
	padding-top: 6px;
	outline: none;
}
