<div class="clip" *ngFor="let clip of clips">
	<p><b>{{clip.name}}</b></p>
	<ng-container *ngIf="clip.running">
		<ng-container *ngIf="clip.percentage == 0">
			<div class="processing">
				<p>
					<b>Processing Clip, this can take a while</b>
					<span><b>.</b></span><span><b>.</b></span><span><b>.</b></span>
				</p>
			</div>
		</ng-container>
		<ng-container *ngIf="clip.percentage > 0">
			<progress class="progBar" max="100" value="{{clip.percentage}}"></progress>
		</ng-container>
	</ng-container>
	<ng-container *ngIf="clip.complete !== -1 && clip.complete !== 0">
		<p><b>Clip Finished {{clip.complete}}</b></p>
	</ng-container>
	<ng-container *ngIf="clip.complete === -1">
		<p><b>Error Cutting Clip</b></p>
	</ng-container>
	<div class="row">

		<div *ngIf="!clip.complete" class="col">
			<button #cutting class="button" (click)="runCommand(clip, cutting)">Start Cutting</button>
		</div>
		<div *ngIf="clip.complete" class="col">
			<button class="button" (click)="openClip(clip)">Show in Folder</button>
		</div>
		<div class="col">
			<button class="button" (click)="removeClip(clip)">Remove Clip</button>
		</div>
	</div>
</div>
