<div class="form">
	<div class="video" *ngFor="let film of films">
		<ng-container *ngIf="film.isForm">
			<div class="filename">
				<b>Filename: {{film.name}}</b>
			</div>
			<div class="streams">
				<b>Video Streams:</b>
				<br>
				<b>Audio Streams:</b>
				<br>
				<b>Subtitle Streams:</b>
			</div>
			<div class="start">
				<b>Clip Start: </b>
				<input #start type="text" class="inputBox" value="{{film.start}}" (keyup)="setStart(start.value, film)">
			</div>
			<div class="duration">
				<b>Clip Duration: </b>
				<input #dur type="text" class="inputBox" value="{{film.dur}}" (keyup)="setDur(dur.value, film)">
			</div>
			<div class="ext">
				<b>Extension Choice</b>
				<input #mp4 type="checkbox" name="ext" value="mp4" [checked]="film.ext['mp4']" (change)="setExt($event, mp4.value, film)">
				<label for="mp4">mp4</label>
				<input #mkv type="checkbox" name="ext" value="mkv" [checked]="film.ext['mkv']" (change)="setExt($event, mkv.value, film)">
				<label for="mkv">mkv</label>
				<input #mov type="checkbox" name="ext" value="mov" [checked]="film.ext['mov']" (change)="setExt($event, mov.value, film)">
				<label for="mov">mov</label>
				<input #gif type="checkbox" name="ext" value="gif" [checked]="film.ext['gif']" (change)="setExt($event, gif.value, film)">
				<label for="gif">gif</label>
				<input #webm type="checkbox" name="ext" value="webm" [checked]="film.ext['webm']" (change)="setExt($event, webm.value, film)">
				<label for="webm">webm</label>
			</div>
			<div class="quality">
				<b>Quality Level</b>
			</div>
			<div class="crop">
				<b>Crop</b>
			</div>
			<div class="scale">
				<b>Scale Width</b>
			</div>
			<div class="name">
				<b>Clip Name</b>
			</div>
			<div class="outdir">
				<b>Output Folder</b>
			</div>
		</ng-container>
	</div>

</div>
