<ng-container *ngFor="let film of films">
	<ng-container *ngIf="film.isForm">
		<div class="form">
			<div class="filename">
				<b>Filename: {{film.name}}</b>
			</div>
			<div class="streams">
				<div class="spacing">
					<b>Video Streams: </b>
					<select #videoStream (change)="setVideoStream(videoStream.value, film)">
						<option *ngFor="let stream of film.vStreams; index as i" value="{{i}}">{{stream}}</option>
					</select>
				</div>
				<div class="spacing">
					<b>Audio Streams: </b>
					<select #audioStream (change)="setAudioStream(audioStream.value, film)">
						<option value="" selected disabled hidden>Choose Audio Stream</option>
						<option *ngFor="let stream of film.aStreams; index as i" value="{{i}}">{{stream}}</option>
						<option value="no-audio">No Audio</option>
					</select>
				</div>
				<div class="spacing">
					<b>Subtitle Streams: </b>
					<select #subStream (change)="setSubStream(subStream.value, film)">
						<option value="" selected disabled hidden>Choose Subtitle Stream</option>
						<option value="no-sub">No Subtitles</option>
						<option *ngFor="let stream of film.sStreams; index as i" value="{{i}}">{{stream}}</option>
						<option *ngFor="let sub of film.extSubs; index as i" value="ext-{{i}}">{{sub}}</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<div class="start spacing">
						<b>Clip Start:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
						<input #starting type="text" class="inputBox" value="{{film.start}}" (keyup)="setStart(starting.value, film)">
					</div>
					<div class="duration spacing">
						<b>Clip Duration:&nbsp;&nbsp;</b>
						<input #dur type="text" class="inputBox" value="{{film.dur}}" (keyup)="setDur(dur.value, film)">
					</div>
					<div class="ext spacing">
						<b>Extension Choice:</b><br>
						<div class="extRow">
							<div class="column">
								<input #mp4 type="checkbox" name="ext" class="check" 
								       value="mp4" [checked]="film.ext['mp4']" (change)="setExt($event, mp4.value, film)">
								<label for="mp4">mp4</label>
								<br>
								<input #mkv type="checkbox" name="ext" class="check"
									value="mkv" [checked]="film.ext['mkv']" (change)="setExt($event, mkv.value, film)">
								<label for="mkv">mkv</label>
								<br>
								<input #mov type="checkbox" name="ext" class="check" 
									value="mov" [checked]="film.ext['mov']" (change)="setExt($event, mov.value, film)">
								<label for="mov">mov</label>
							</div>
							<div class="column">
								<input #gif type="checkbox" name="ext" class="check"
									value="gif" [checked]="film.ext['gif']" (change)="setExt($event, gif.value, film)">
								<label for="gif">gif</label>
								<br>
								<input #webm type="checkbox" name="ext" class="check" 
									value="webm" [checked]="film.ext['webm']" (change)="setExt($event, webm.value, film)">
								<label for="webm">webm</label>
							</div>
						</div>
					</div>
					<div class="name spacing">
						<b>Clip Name: </b>
						<input #clipName type="text" class="inputBox full" value="{{film.clipName}}" (keyup)="setClipName(clipName.value, film)">
					</div>
				</div>
				<div class="column">
					<div class="crop spacing">
						<b>Crop:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
						<input #cropW type="number" class="inputBox" value="{{film.cropW}}" step="2" min="2" 
							max="{{film.width}}" (change)="setWidth(cropW.value, film)">
						X
						<input #cropH type="number" class="inputBox" value="{{film.cropH}}" step="2" min="2" 
							max="{{film.height}}" (change)="setHeight(cropH.value, film)">
					</div>
					<div class="scale spacing">
						<b>Scale Width:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
						<input #scale type="number" class="inputBox" value="{{film.scale}}" step="2" min="2" 
							max="{{film.cropW}}" (change)="setScale(scale.value, film)">
					</div>
					<div class="quality spacing">
						<b>Quality Level: {{film.crf}}</b><br>
						<input #crf type="range" min="1" max="100" value="{{film.crf}}" (change)="setCrf(crf.value, film)"> 
					</div>
					<div class="spacing" *ngIf="film.ext['webm']">
						<b>WebM Bitrate (MB):&nbsp;&nbsp;</b>
						<input #bitrate type="number" class="inputBox" value="{{film.bitrate}}" 
							step="0.5" min="0" (change)="setBitrate(bitrate.value, film)">
					</div>
					<div class="spacing" *ngIf="film.ext['gif']">
						<b>Gif Framerate:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
						<input #framerate type="number" class="inputBox" 
							value="{{film.framerate}}" min="0" (change)="setFramerate(framerate.value, film)">
					</div>
				</div>

				<div class="row">
					<div class="cloumn">
						<button #clipGen (click)="createClip(film, starting, dur)" class="button">Add to Clip Queue</button>
					</div>
					<div class="column">
						<div class="outdir">
							<button #outDir (click)="getOutDir(film)" class="button">Set Output Directory</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
</ng-container>
