<div class="controller" id="controller">
	<h2 class="title header">Clip Controller</h2>
	<input type="file" id="file" style="display: none;" multiple (change)="fileUp($event.target.files)">
	<input type="button" class="fileUp header" value="Select Video Files" onclick="document.getElementById('file').click();" />
	<app-form></app-form>
</div>
<div class="row">
	<div class="column">
		<h2 class="title">Video Queue</h2>
		<app-video-queue></app-video-queue>
	</div>
	<div class="column">
		<h2 class="title">Clip Queue</h2>
		<app-clip-queue></app-clip-queue>
	</div>
</div>
